<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iaaa.appnode"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
   	<uses-permission android:name="android.permission.INTERNET" />
   	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
   	<uses-permission android:name="android.permission.WAKE_LOCK" />
   	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
   	
   	<permission android:name="com.iaaa.appnode.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.iaaa.appnode.gcm.permission.C2D_MESSAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.iaaa.appnode.AppNodeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.iaaa.appnode.SettingsActivity"></activity>
        <activity android:name="com.iaaa.stats.StatsActivity"></activity>
        
        <service android:name="com.iaaa.message.MessageService"/>
        <service android:name="com.iaaa.events.EventControllerService"/>
        <service android:name="com.iaaa.modecontroller.ModeControllerService"/>
        <service android:name="com.iaaa.http.HTTPService"/>
        <service android:name="com.iaaa.http.GcmIntentService" /> 
        
        <receiver
            android:name="com.iaaa.http.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".SMSReceiver" >
            <intent-filter android:priority="1500" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
    </application>

</manifest>
